
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Cleanings", "Index", "Cleanings", new { area = "" }, null)</li>
        <li>@Html.ActionLink("Feedings", "Index", "Feedings", new { area = "" }, null)</li>
     </ul>
</div>
 